@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url('../fonts/rubik-regular/Rubik-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/rubik-regular/Rubik-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/rubik-regular/Rubik-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/rubik-regular/Rubik-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/rubik-regular/Rubik-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/rubik-regular/Rubik-Regular.otf') format('otf'),
  url('../fonts/rubik-regular/Rubik-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('../fonts/rubik-bold/Rubik-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/rubik-bold/Rubik-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/rubik-bold/Rubik-Bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/rubik-bold/Rubik-Bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/rubik-bold/Rubik-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/rubik-bold/Rubik-Bold.otf') format('otf'),
  url('../fonts/rubik-bold/Rubik-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html {
  font-size: 10px;
}

body {
  font-family: 'Rubik-Regular', sans-serif;
  padding-top: 27rem;
  background: url("../img/header/header-bg.webp") center top no-repeat;
  color: #000;
  font-size: 2rem;
}

.green-color {
  color: $green-color;
}

.light-green-color {
  color: $light-green-color;
}

.blue-color {
  color: $blue-color;
}

.orange-color {
  color: $orange-color;
}

.purple-color {
  color: $purple-color;
}

.dark-purple-color {
  color: $dark-purple-color;
}

.growth-point {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 18.2rem);
}

.primary_btn {
  display: inline-block;
  font-family: 'Rubik-Bold', sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding: 1.9rem 3rem;
  font-size: 2rem;
  outline: none;
  border: none;
  background: $light-green-color;
  border-radius: 50px;
  box-shadow: -.7rem .7rem 0 0 rgba(0, 0, 0, 0.1);
  transition: all .2s ease;

  &:hover {
    cursor: pointer;
    color: #fff;
  }

  &:active {
    background: $green-color;
  }

  &:focus {
    outline: none;
  }
}

.header {
  .logo_img {
    width: 100%;
    max-width: 16rem;
  }

  .fixed-top {
    top: 35px;
  }

  .navbar {
    .nav-item {
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      .nav-link {
        color: #000;
        text-decoration: underline;
        font-size: 1.8rem;
        white-space: nowrap;
      }
    }
  }

  .phone {
    display: flex;
    align-items: center;

    a {
      font-size: 2.8rem;
      color: #000;
      margin-left: 1rem;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &_content {
    .content_title {
      text-align: center;
      color: #fff;
      text-transform: uppercase;

      span {
        position: relative;

        &:first-child {
          font-family: 'Rubik-Bold', sans-serif;
          font-size: 4rem;
          margin-bottom: 10px;
          display: inline-block;

          &::before {
            content: '';
            position: absolute;
            background: url("../img/header/header_children.webp") no-repeat;
            width: 39.2rem;
            height: 8.5rem;
            top: -8.5rem;
            left: 50%;
            transform: translateX(-50%);
          }

          &::after {
            content: '';
            position: absolute;
            background: $green-color;
            top: -10px;
            left: -50px;
            width: calc(100% + 100px);
            height: calc(100% + 20px);
            transform: skew(-30deg, 0deg);
            z-index: -1;
          }
        }

        &:last-child {
          font-size: 3.6rem;

          &::after {
            content: '';
            position: absolute;
            background: $orange-color;;
            top: -5px;
            left: -30px;
            width: calc(100% + 60px);
            height: calc(100% + 10px);
            transform: skew(-30deg, 0deg);
            z-index: -1;
          }
        }
      }
    }

    .content_description {
      margin-top: 50px;
      text-align: center;

      p span {
        font-style: italic;
      }
    }

    .content_bullet {
      text-align: center;

      .bullet-item {
        margin: 5.5rem 0 8rem;

        &_img img {
          max-width: 100%;
        }

        &_separator {
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }
    }

    .content_button {
      text-align: center;
      margin-bottom: 10.5rem;
    }
  }
}

section {
  margin: 8rem 0;

  .separator {
    text-align: center;
    margin-bottom: 4rem;
  }

  h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 7rem;

    span {
      font-family: 'Rubik-Bold', sans-serif;
    }
  }

  &.bg {
    position: relative;
    margin: 0;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: .21;
      z-index: -1;
    }
  }

  &.bg_1::after {
    background: url("../img/common/section_bg_1.webp");
  }

  &.bg_2::after {
    background: url("../img/common/section_bg_2.webp");
  }

  &.one {
    h2 {
      max-width: 84rem;
      margin-left: auto;
      margin-right: auto;
    }

    .bullet {
      text-align: center;

      .bullet-item {
        position: relative;
        height: 100%;

        &_img {
          margin-bottom: 3.5rem;

          img {
            max-width: 100%;

            &.flower_1,
            &.flower_2,
            &.flower_3 {
              position: absolute;
              top: -50px;
            }

            &.flower_1 {
              left: 0;
            }

            &.flower_2 {
              right: 0;
            }

            &.flower_3 {
              right: -70px;
            }
          }
        }

        &_text {
          span {
            font-size: 2rem;
          }

          //color: #fff;
          max-width: 24rem;
          margin: 0 auto;
          font-size: 1.8rem;
        }
      }
    }

    .two-bullet {
      text-align: center;

      .bullet-item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;

        &_text {
          font-size: 1.8rem;

          p:nth-child(2) {
            margin-top: 3rem;
          }
        }
      }
    }
  }

  &.two {
    padding-top: 7rem;
    padding-bottom: 9.5rem;

    .items {
      margin-top: 9rem;

      .item {
        text-align: center;

        &-img img {
          border: 14px solid;
          border-radius: 50%;
          width: 100%;
          max-width: 220px;

          &.border-color-blue {
            border-color: $blue-color;
          }

          &.border-color-purple {
            border-color: $purple-color;
          }

          &.border-color-green {
            border-color: $green-color;
          }

          &.border-color-orange {
            border-color: $orange-color;
          }
        }

        &-title {
          text-transform: uppercase;
          font-size: 2.8rem;
          margin-top: 4rem;
          margin-bottom: 2rem;
        }

        &-text {
          margin-top: 3rem;
          margin-bottom: 8.5rem;

          p span {
            display: block;
            font-size: 6rem;
            margin-bottom: 2rem;
          }
        }
      }
    }

    .description p {
      max-width: 61.5rem;
      text-align: center;
      margin: auto;
    }
  }

  &.three {
    h2 {
      margin-bottom: 3rem;
    }

    p.description {
      max-width: 70rem;
      margin: 0 auto;
      text-align: center;
    }

    p.description_bottom {
      max-width: 73rem;
      margin: 0 auto;
      text-align: center;
    }

    .section-three-carousel {
      margin: 8rem 0;
    }

    .button {
      text-align: center;
      margin-top: 5.5rem;
    }

    .carousel-item_img {
      img {
        margin: 0 auto;
      }
    }
  }

  &.four {
    padding-top: 8.5rem;
    padding-bottom: 7.5rem;

    h2 {
      color: #fff;
      background-color: $dark-purple-color;
    }

    .table-top {
      tbody th p {
        font-family: 'Rubik-Bold', sans-serif;
        font-size: 2.2rem;
      }
    }

    .section-four_table {
      text-align: center;

      img {
        max-width: 100%;
      }
    }
  }

  &.five {
    .section-five {
      &_header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 6rem;

        img {
          max-width: 100%;
        }
      }

      &_text p {
        max-width: 61rem;
        text-align: center;
        margin: 0 auto;

        span {
          text-decoration: underline;
        }

        &:first-child {
          margin-bottom: 3.5rem;
        }
      }
    }
  }

  &.six {
    margin-top: 14rem;
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
    position: relative;

    &::before {
      content: '';
      background: url("../img/section_six/children.webp");
      width: 44.8rem;
      height: 9.8rem;
      position: absolute;
      top: -9rem;
      left: 50%;
      transform: translateX(-50%);
    }

    h2 {
      font-size: 2.4rem;
      margin-bottom: 0;
    }
  }

  &.seven {
    h2 {
      max-width: 62rem;
      margin-left: auto;
      margin-right: auto;
    }

    .section-seven-carousel {
      .carousel-item {
        text-align: center;

        &_img img {
          max-width: 100%;
          margin: 0 auto;
        }

        &_separator {
          margin-top: 4rem;
          margin-bottom: 3rem;
        }
      }
    }
  }

  &.eight {
    padding-top: 8.5rem;
    padding-bottom: 7.5rem;

    h2:nth-child(2) {
      color: #fff;
      background: $purple-color;
      max-width: 62rem;
      margin: 0 auto 4rem;

    }

    .benefit {
      text-align: center;

      &-img {
        margin-top: 4.5rem;
        margin-bottom: 3.5rem;
      }

      &-title {
        font-family: 'Rubik-Bold', sans-serif;
        font-size: 2.3rem;
      }

      &-separator {
        margin: 3.5rem 0;
      }
    }
  }

  &.nine {
    h2 {
      &:nth-of-type(1) {
        color: #fff;
        background: $light-green-color;
      }
    }

    .acquaintance-item {
      &_title {
        font-family: 'Rubik-Bold', sans-serif;
        font-size: 2.8rem;
        margin-bottom: 5rem;
      }

      &_text p {
        margin-bottom: 5rem;
      }
    }

    .acquaintance_video {
      position: relative;
      text-align: center;

      img {
        max-width: 100%;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &::before {
        background: url("../img/common/toys/gun.webp");
        width: 32.6rem;
        height: 32.8rem;
        left: -32.6rem;
      }

      &::after {
        background: url("../img/common/toys/car.webp");
        width: 30.7rem;
        height: 33.5rem;
        right: -30.7rem;
      }
    }

    .acquaintance_description {
      margin: 7.5rem auto;
      max-width: 74rem;
      text-align: center;
    }

    .button {
      text-align: center;
    }
  }

  &.ten {
    .carousels {
      .carousel-left,
      .carousel-right {
        text-align: center;

        .title {
          font-family: 'Rubik-Bold', sans-serif;
          color: #fff;
          font-size: 3.2rem;
        }

        .description {
          margin: 4rem 0;
        }
      }

      .carousel-left {
        .title {
          background: $orange-color;

        }
      }

      .carousel-right {
        .title {
          background: $blue-color;
        }
      }

      .carousel-item_img img {
        margin: 0 auto;
      }
    }
  }

  &.eleven {
    h2 {
      max-width: 52rem;
      margin: 0 auto 6rem;
    }

    .description {
      max-width: 38rem;
      margin: 0 auto;
    }

    .anna-info {
      &_item {
        p, span {
          line-height: 25px;
        }

        &.avatar {
          text-align: center;

          span {
            display: inline-block;
            text-align: center;
          }

          .avatar-img {
            margin: 5rem 0;

            img {
              border-radius: 50%;
              box-shadow: 4px -4px 0 15px $purple-color;
            }
          }

          .avatar-name {
            font-family: 'Rubik-Bold', sans-serif;
            font-size: 3.2rem;
            color: $purple-color;
            margin-bottom: 3rem;
          }
        }

        &-text {
          margin-bottom: 5rem;
        }
      }
    }

  }

  &.twelve {
    padding-top: 8.5rem;
    padding-bottom: 7.5rem;

    .item-img img {
      max-width: 100%;
      margin: 0 auto;
    }

    .item-name {
      font-family: 'Rubik-Bold', sans-serif;
      text-align: center;
      margin: 3rem auto 0;
    }

    .reviews .reviews-carousel_for {
      .comment {
        max-width: 76rem;
        margin: 5rem auto 4rem;
        text-align: center;
      }
    }
  }

  &.thirteen {
  }

  &.fourteen {
    padding-top: 7.5rem;
    padding-bottom: 20rem;

    h2 {
      color: #fff;
      background: $light-green-color;
    }

    .description {
      font-size: 3.2rem;
      max-width: 63rem;
      margin: 0 auto 8.5rem;
      text-align: center;
    }
  }

  &.fifteen {
    h2 {
      max-width: 61rem;
      margin: auto;
      text-align: center;
    }

    .fifteen-img {
      text-align: center;
      margin: 5rem 0 4rem;
    }

    .bullet p {
      margin-bottom: 5rem;

      span {
        font-family: 'Rubik-Bold', sans-serif;
        display: block;
        margin-bottom: 1.5rem;
      }
    }
  }

  &.sixteen {
    .bg {
      position: relative;
      margin: 0;
      padding-top: 7.5rem;
      padding-bottom: 7.5rem;

      &::after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .21;
        z-index: -1;
      }
    }

    .bg_1::after {
      background: url("../img/common/section_bg_1.jpg");
    }

    h2 {
      margin-bottom: 0;

      span:last-child {
        font-family: 'Rubik-Regular', sans-serif;
      }
    }
  }

  &.seventeen {
    h2, .description {
      max-width: 72rem;
      margin: auto;
      text-align: center;
    }

    .description {
      margin-top: 4.5rem;
      margin-bottom: 5rem;

      span {
        font-family: 'Rubik-Bold', sans-serif;
      }
    }

    .table-title {
      font-family: 'Rubik-Bold', sans-serif;
      font-size: 2.4rem;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &.eighteen {
    h2 {
      margin-bottom: 2.5rem;
    }

    .description {
      max-width: 42rem;
      margin: auto;
      text-align: center;
    }

    .info-item {
      text-align: center;

      &.tel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .info-item_tel {
          font-size: 4rem;
        }

        .info-item_desc {
          margin-top: 4rem;
          margin-bottom: 3.5rem;
          font-size: 2.4rem;
          text-transform: uppercase;
        }

        .info-item_soc {
          display: inline-block;

          a {
            img {
              width: 100%;
              max-width: 5rem;
            }

            &:nth-child(2) {
              margin: 0 2rem;
            }
          }
        }
      }

      &_img {
        margin: 1rem auto 2.5rem;
        border-radius: 50%;
        width: 100%;
        max-width: 15.6rem;
      }

      &_name {
        font-family: 'Rubik-Bold', sans-serif;
        font-size: 2.8rem;
        margin-bottom: 1rem;
      }
    }
  }

  &.nineteen {
    background: #f1f1f1;
    padding: 4.2rem 0;

    h2 {
      font-size: 2.4rem;
      text-align: center;
      margin-bottom: 4rem;
    }

    .form {
      width: 100%;
      margin: auto;
      max-width: 44rem;
      text-align: center;

      input {
        width: 100%;
        text-align: center;
        border: none;
        border-bottom: 2px solid #9f9f9f;
        background: #f1f1f1;
        padding: 1.5rem 1rem;

        &:first-child {
          margin-bottom: 1.5rem;
        }

        &:focus-visible {
          outline: none;
        }

        &::placeholder {
          font-style: italic;
          color: #9f9f9f;
          text-align: center;
        }
      }

      button {
        margin-top: 4rem;
      }
    }
  }
}

.footer {
  p {
    margin: 5.5rem 0;
    font-style: italic;
    color: #4e4e4e;
    text-align: center;
  }

  border-bottom: 2rem solid $light-green-color;
}

.slick-prev:before, .slick-next:before {
  color: $purple-color;
}