* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url("../fonts/rubik-regular/Rubik-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/rubik-regular/Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-regular/Rubik-Regular.woff2") format("woff2"), url("../fonts/rubik-regular/Rubik-Regular.woff") format("woff"), url("../fonts/rubik-regular/Rubik-Regular.ttf") format("truetype"), url("../fonts/rubik-regular/Rubik-Regular.otf") format("otf"), url("../fonts/rubik-regular/Rubik-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: 'Rubik-Bold';
  src: url("../fonts/rubik-bold/Rubik-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/rubik-bold/Rubik-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-bold/Rubik-Bold.woff2") format("woff2"), url("../fonts/rubik-bold/Rubik-Bold.woff") format("woff"), url("../fonts/rubik-bold/Rubik-Bold.ttf") format("truetype"), url("../fonts/rubik-bold/Rubik-Bold.otf") format("otf"), url("../fonts/rubik-bold/Rubik-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
html {
  font-size: 10px;
}

body {
  font-family: 'Rubik-Regular', sans-serif;
  padding-top: 27rem;
  background: url("../img/header/header-bg.webp") center top no-repeat;
  color: #000;
  font-size: 2rem;
}

.green-color {
  color: #83af1e;
}

.light-green-color {
  color: #84bc38;
}

.blue-color {
  color: #237bc5;
}

.orange-color {
  color: #dc7728;
}

.purple-color {
  color: #ce3982;
}

.dark-purple-color {
  color: #84468c;
}

.growth-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 18.2rem);
}

.primary_btn {
  display: inline-block;
  font-family: 'Rubik-Bold', sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding: 1.9rem 3rem;
  font-size: 2rem;
  outline: none;
  border: none;
  background: #84bc38;
  border-radius: 50px;
  -webkit-box-shadow: -0.7rem 0.7rem 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: -0.7rem 0.7rem 0 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.primary_btn:hover {
  cursor: pointer;
  color: #fff;
}
.primary_btn:active {
  background: #83af1e;
}
.primary_btn:focus {
  outline: none;
}

.header .logo_img {
  width: 100%;
  max-width: 16rem;
}
.header .fixed-top {
  top: 35px;
}
.header .navbar .nav-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.header .navbar .nav-item .nav-link {
  color: #000;
  text-decoration: underline;
  font-size: 1.8rem;
  white-space: nowrap;
}
.header .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .phone img {
  max-width: 100%;
  width: 2.3rem;
}
.header .phone a {
  font-size: 2.8rem;
  white-space: nowrap;
  color: #000;
  margin-left: 1rem;
}
.header .phone a:hover {
  text-decoration: none;
}
.header_content .content_title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.header_content .content_title span {
  position: relative;
}
.header_content .content_title span:first-child {
  font-family: 'Rubik-Bold', sans-serif;
  font-size: 4rem;
  margin-bottom: 10px;
  display: inline-block;
  padding: 1rem 2rem;
}
.header_content .content_title span:first-child::before {
  content: '';
  position: absolute;
  background: url("../img/header/header_children.webp") no-repeat;
  background-size: contain;
  width: 39.2rem;
  height: 8.5rem;
  top: -8.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header_content .content_title span:first-child::after {
  content: '';
  position: absolute;
  background: #83af1e;
  top: -10px;
  left: -50px;
  width: calc(100% + 100px);
  height: calc(100% + 20px);
  -webkit-transform: skew(-30deg, 0deg);
          transform: skew(-30deg, 0deg);
  z-index: -1;
}
.header_content .content_title span:last-child {
  font-size: 3.6rem;
  padding: 1rem 2rem;
}
.header_content .content_title span:last-child::after {
  content: '';
  position: absolute;
  background: #dc7728;
  top: -5px;
  left: -30px;
  width: calc(100% + 60px);
  height: calc(100% + 10px);
  -webkit-transform: skew(-30deg, 0deg);
          transform: skew(-30deg, 0deg);
  z-index: -1;
}
.header_content .content_description {
  margin-top: 50px;
  text-align: center;
}
.header_content .content_description p span {
  font-style: italic;
}
.header_content .content_bullet {
  text-align: center;
}
.header_content .content_bullet .bullet-item {
  margin: 5.5rem 0 8rem;
}
.header_content .content_bullet .bullet-item_img img {
  max-width: 100%;
}
.header_content .content_bullet .bullet-item_separator {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.header_content .content_button {
  text-align: center;
  margin-bottom: 10.5rem;
}

section {
  margin: 8rem 0;
}
section .separator {
  text-align: center;
  margin-bottom: 4rem;
}
section h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 7rem;
}
section h2 span {
  font-family: 'Rubik-Bold', sans-serif;
}
section.bg {
  position: relative;
  margin: 0;
}
section.bg::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .21;
  z-index: -1;
}
section.bg_1::after {
  background: url("../img/common/section_bg_1.webp");
}
section.bg_2::after {
  background: url("../img/common/section_bg_2.webp");
}
section.one h2 {
  max-width: 84rem;
  margin-left: auto;
  margin-right: auto;
}
section.one .bullet {
  text-align: center;
}
section.one .bullet .bullet-item {
  position: relative;
  height: 100%;
}
section.one .bullet .bullet-item_img {
  margin-bottom: 3.5rem;
}
section.one .bullet .bullet-item_img img {
  max-width: 100%;
}
section.one .bullet .bullet-item_img img.flower_1, section.one .bullet .bullet-item_img img.flower_2, section.one .bullet .bullet-item_img img.flower_3 {
  position: absolute;
  top: -50px;
}
section.one .bullet .bullet-item_img img.flower_1 {
  left: 0;
}
section.one .bullet .bullet-item_img img.flower_2 {
  right: 0;
}
section.one .bullet .bullet-item_img img.flower_3 {
  right: -70px;
}
section.one .bullet .bullet-item_text {
  max-width: 24rem;
  margin: 0 auto;
  font-size: 1.8rem;
}
section.one .bullet .bullet-item_text span {
  font-size: 2rem;
}
section.one .two-bullet {
  text-align: center;
}
section.one .two-bullet .bullet-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}
section.one .two-bullet .bullet-item > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section.one .two-bullet .bullet-item > div:first-child {
  min-height: 26.4rem;
}
section.one .two-bullet .bullet-item_img img {
  width: 100%;
  max-width: 26.4rem;
}
section.one .two-bullet .bullet-item_text {
  font-size: 1.8rem;
}
section.one .two-bullet .bullet-item_text p:nth-child(2) {
  margin-top: 3rem;
}
section.two {
  padding-top: 7rem;
  padding-bottom: 9.5rem;
}
section.two .items {
  margin-top: 9rem;
}
section.two .items .item {
  text-align: center;
}
section.two .items .item-img img {
  border: 14px solid;
  border-radius: 50%;
  width: 100%;
  max-width: 220px;
}
section.two .items .item-img img.border-color-blue {
  border-color: #237bc5;
}
section.two .items .item-img img.border-color-purple {
  border-color: #ce3982;
}
section.two .items .item-img img.border-color-green {
  border-color: #83af1e;
}
section.two .items .item-img img.border-color-orange {
  border-color: #dc7728;
}
section.two .items .item-title {
  text-transform: uppercase;
  font-size: 2.8rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
section.two .items .item-text {
  margin-top: 3rem;
  margin-bottom: 8.5rem;
}
section.two .items .item-text p span {
  display: block;
  font-size: 6rem;
  margin-bottom: 2rem;
}
section.two .description p {
  max-width: 61.5rem;
  text-align: center;
  margin: auto;
}
section.three h2 {
  margin-bottom: 3rem;
}
section.three p.description {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}
section.three p.description_bottom {
  max-width: 73rem;
  margin: 0 auto;
  text-align: center;
}
section.three .section-three-carousel {
  margin: 8rem 0;
}
section.three .button {
  text-align: center;
  margin-top: 5.5rem;
}
section.three .carousel-item_img img {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1rem;
}
section.four {
  padding-top: 8.5rem;
  padding-bottom: 7.5rem;
}
section.four h2 {
  color: #fff;
  background-color: #84468c;
}
section.four .table-top tbody th p {
  font-family: 'Rubik-Bold', sans-serif;
  font-size: 2.2rem;
}
section.four .section-four_table {
  text-align: center;
}
section.four .section-four_table img {
  max-width: 100%;
}
section.five .section-five_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6rem;
}
section.five .section-five_header img {
  width: 100%;
  max-width: 26.4rem;
}
section.five .section-five_text p {
  max-width: 61rem;
  text-align: center;
  margin: 0 auto;
}
section.five .section-five_text p span {
  text-decoration: underline;
}
section.five .section-five_text p:first-child {
  margin-bottom: 3.5rem;
}
section.six {
  margin-top: 14rem;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
  position: relative;
}
section.six::before {
  content: '';
  background: url("../img/section_six/children.webp");
  width: 44.8rem;
  height: 9.8rem;
  position: absolute;
  top: -9rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
section.six h2 {
  font-size: 2.4rem;
  margin-bottom: 0;
}
section.seven h2 {
  max-width: 62rem;
  margin-left: auto;
  margin-right: auto;
}
section.seven .section-seven-carousel .carousel-item {
  text-align: center;
}
section.seven .section-seven-carousel .carousel-item_img img {
  max-width: 100%;
  margin: 0 auto;
}
section.seven .section-seven-carousel .carousel-item_video {
  position: relative;
  text-align: center;
}
section.seven .section-seven-carousel .carousel-item_video video {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
section.seven .section-seven-carousel .carousel-item_video .video-play-btn {
  position: absolute;
  background: red;
  border-radius: 10px;
  width: 6rem;
  height: 4.2rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: .5;
}
section.seven .section-seven-carousel .carousel-item_video .video-play-btn:hover {
  cursor: pointer;
}
section.seven .section-seven-carousel .carousel-item_video .video-play-btn.pause {
  opacity: .2;
}
section.seven .section-seven-carousel .carousel-item_video .video-play-btn.pause::before {
  border-style: double;
  border-width: 0 0 0 20px;
  border-color: #fff;
  height: 20px;
  left: calc(50%);
}
section.seven .section-seven-carousel .carousel-item_video .video-play-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(50% + 2px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 1rem 0 1rem 1.8rem;
  border-color: transparent transparent transparent #fff;
}
section.seven .section-seven-carousel .carousel-item_separator {
  margin-top: 4rem;
  margin-bottom: 3rem;
}
section.eight {
  padding-top: 8.5rem;
  padding-bottom: 7.5rem;
}
section.eight h2:nth-child(2) {
  color: #fff;
  background: #ce3982;
  max-width: 62rem;
  margin: 0 auto 4rem;
}
section.eight .benefit {
  text-align: center;
}
section.eight .benefit-img {
  margin-top: 4.5rem;
  margin-bottom: 3.5rem;
  min-height: 114px;
}
section.eight .benefit-title {
  font-family: 'Rubik-Bold', sans-serif;
  font-size: 2.3rem;
}
section.eight .benefit-separator {
  margin: 3.5rem 0;
}
section.nine h2:nth-of-type(1) {
  color: #fff;
  background: #84bc38;
}
section.nine .acquaintance-item_title {
  font-family: 'Rubik-Bold', sans-serif;
  font-size: 2.8rem;
  margin-bottom: 5rem;
}
section.nine .acquaintance-item_text p {
  margin-bottom: 5rem;
}
section.nine .acquaintance_video {
  position: relative;
  text-align: center;
}
section.nine .acquaintance_video img {
  max-width: 100%;
}
section.nine .acquaintance_video::before, section.nine .acquaintance_video::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: 13vw;
  background-repeat: no-repeat;
  width: 15vw;
  max-width: 26rem;
  height: 15vw;
  max-height: 26rem;
}
section.nine .acquaintance_video::before {
  background-image: url("../img/common/toys/gun.png");
  left: -16vw;
}
section.nine .acquaintance_video::after {
  background-image: url("../img/common/toys/car.png");
  right: -16vw;
}
section.nine .acquaintance_description {
  margin: 7.5rem auto;
  max-width: 74rem;
  text-align: center;
}
section.nine .button {
  text-align: center;
}
section.ten .carousels .carousel-left,
section.ten .carousels .carousel-right {
  width: calc(100% - 45px);
  margin: auto;
  text-align: center;
}
section.ten .carousels .carousel-left .title,
section.ten .carousels .carousel-right .title {
  font-family: 'Rubik-Bold', sans-serif;
  color: #fff;
  font-size: 3.2rem;
  min-height: 50px;
}
section.ten .carousels .carousel-left .description,
section.ten .carousels .carousel-right .description {
  margin: 4rem 0;
}
section.ten .carousels .carousel-left .title {
  background: #dc7728;
}
section.ten .carousels .carousel-right .title {
  background: #237bc5;
}
section.ten .carousels .carousel-item_img img {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1rem;
}
section.eleven h2 {
  max-width: 52rem;
  margin: 0 auto 6rem;
}
section.eleven .description {
  max-width: 38rem;
  margin: 0 auto;
}
section.eleven .anna-info_item p, section.eleven .anna-info_item span {
  line-height: 2.5rem;
}
section.eleven .anna-info_item.avatar {
  text-align: center;
}
section.eleven .anna-info_item.avatar span {
  display: inline-block;
  text-align: center;
}
section.eleven .anna-info_item.avatar .avatar-img {
  margin: 5rem 0;
}
section.eleven .anna-info_item.avatar .avatar-img img {
  border-radius: 50%;
  -webkit-box-shadow: 4px -4px 0 15px #ce3982;
          box-shadow: 4px -4px 0 15px #ce3982;
  max-width: 100%;
}
section.eleven .anna-info_item.avatar .avatar-name {
  font-family: 'Rubik-Bold', sans-serif;
  font-size: 3.2rem;
  color: #ce3982;
  margin-bottom: 3rem;
}
section.eleven .anna-info_item.avatar .icons a:hover {
  text-decoration: none;
}
section.eleven .anna-info_item-text {
  margin-bottom: 5rem;
}
section.twelve {
  padding-top: 8.5rem;
  padding-bottom: 7.5rem;
}
section.twelve .item-video {
  position: relative;
  text-align: center;
}
section.twelve .item-video iframe {
  max-width: 100%;
}
section.twelve .item-video video {
  max-width: 100%;
  margin: 0 auto;
}
section.twelve .item-video .video-play-btn {
  position: absolute;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 3px solid #ce3982;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: .5;
}
section.twelve .item-video .video-play-btn:hover {
  cursor: pointer;
}
section.twelve .item-video .video-play-btn.pause::before {
  border-style: double;
  border-width: 0 0 0 20px;
  border-color: #ce3982;
  height: 20px;
  left: calc(50%);
}
section.twelve .item-video .video-play-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(50% + 2px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 11px 0 11px 20px;
  border-color: transparent transparent transparent #ce3982;
}
section.twelve .item-name {
  font-family: 'Rubik-Bold', sans-serif;
  text-align: center;
  margin: 3rem auto 0;
}
section.twelve .reviews .reviews-carousel_nav .item.slick-slide {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
section.twelve .reviews .reviews-carousel_nav .item.slick-slide:focus-visible {
  outline: none;
}
section.twelve .reviews .reviews-carousel_nav .item.slick-slide:not(.slick-center) {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: .5;
}
section.twelve .reviews .reviews-carousel_nav .item.slick-slide:not(.slick-center) .item-video .video-play-btn {
  border: 3px solid #fff;
}
section.twelve .reviews .reviews-carousel_nav .item.slick-slide:not(.slick-center) .item-video .video-play-btn.pause::before {
  border-color: #fff;
}
section.twelve .reviews .reviews-carousel_nav .item.slick-slide:not(.slick-center) .item-video .video-play-btn::before {
  border-color: transparent transparent transparent #fff;
}
section.twelve .reviews .reviews-carousel_nav .item.slick-slide:not(.slick-center) .item-name {
  opacity: 0;
}
section.twelve .reviews .reviews-carousel_for .comment {
  max-width: 76rem;
  margin: 5rem auto 4rem;
  text-align: center;
  padding: 2rem;
  background: #ce3982;
  color: #fff;
}
section.thirteen h2.bottom-title {
  margin-top: 7rem;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}
section.thirteen .table-price th p {
  text-align: center;
}
section.thirteen .table-price th p:first-of-type {
  color: #838383;
  text-decoration: line-through;
  padding: 2rem 3rem;
}
section.thirteen .table-price th p:last-of-type {
  font-size: 2.6rem;
  color: #bf3f7c;
  font-family: 'Rubik-Bold', sans-serif;
}
section.thirteen .table-top {
  position: relative;
}
section.thirteen .table-top::after {
  content: '';
  position: absolute;
  right: -5.8vw;
  bottom: 7vw;
  background-image: url(../img/section_thirteen/children_table.webp);
  background-size: 7vw;
  background-repeat: no-repeat;
  width: 8vw;
  max-width: 15.3rem;
  height: 35.5rem;
}
section.thirteen .table-bottom {
  position: relative;
}
section.thirteen .table-bottom table {
  position: relative;
}
section.thirteen .table-bottom table::before, section.thirteen .table-bottom table::after {
  content: '';
  position: absolute;
  background-size: 13vw;
  background-repeat: no-repeat;
  bottom: -16.85rem;
  width: 15vw;
  max-width: 26rem;
  height: 15vw;
  max-height: 26rem;
}
section.thirteen .table-bottom table::before {
  bottom: 0;
  left: -16vw;
  background-image: url("../img/common/toys/plane.png");
}
section.thirteen .table-bottom table::after {
  top: 0;
  right: -16vw;
  background-image: url("../img/common/toys/horse.png");
}
section.thirteen .table-bottom::after {
  content: '';
  position: absolute;
  bottom: -4.6vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url(../img/section_thirteen/children.webp);
  width: 15.5vw;
  height: 5.7vw;
  background-repeat: no-repeat;
  background-size: 13vw;
}
section.thirteen .table-bottom .old-price {
  color: #838383;
  text-decoration: line-through;
}
section.thirteen .table-bottom tbody tr th:first-of-type {
  width: 50%;
}
section.thirteen .table-bottom tbody tr th:last-of-type {
  text-align: center;
  vertical-align: middle;
}
section.thirteen .total_cost {
  font-size: 3.2rem;
  text-align: center;
  margin-top: 12rem;
  margin-bottom: 7rem;
  line-height: 4.2rem;
}
section.thirteen .content_button {
  margin: 3rem;
  text-align: center;
}
section.fourteen {
  padding-top: 7.5rem;
  padding-bottom: 20rem;
}
section.fourteen h2 {
  color: #fff;
  background: #84bc38;
}
section.fourteen .description {
  font-size: 3.2rem;
  max-width: 63rem;
  margin: 0 auto 8.5rem;
  text-align: center;
}
section.fourteen img {
  max-width: 100%;
}
section.fifteen h2 {
  max-width: 61rem;
  margin: auto;
  text-align: center;
}
section.fifteen .fifteen-img {
  text-align: center;
  margin: 5rem 0 4rem;
}
section.fifteen .bullet {
  position: relative;
}
section.fifteen .bullet::before, section.fifteen .bullet::after {
  content: '';
  position: absolute;
  background-size: 13vw;
  background-repeat: no-repeat;
  bottom: -16.85rem;
  width: 15vw;
  max-width: 26rem;
  height: 15vw;
  max-height: 26rem;
}
section.fifteen .bullet::before {
  background-image: url("../img/common/toys/plane.png");
  bottom: 0;
  left: -16vw;
}
section.fifteen .bullet::after {
  background-image: url("../img/common/toys/horse.png");
  top: 0;
  right: -16vw;
}
section.fifteen .bullet p {
  margin-bottom: 5rem;
}
section.fifteen .bullet p span {
  font-family: 'Rubik-Bold', sans-serif;
  display: block;
  margin-bottom: 1.5rem;
}
section.fifteen .bullet .number img {
  max-width: 100%;
}
section.sixteen .bg {
  position: relative;
  margin: 0;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
section.sixteen .bg::before, section.sixteen .bg::after {
  position: absolute;
  content: '';
}
section.sixteen .bg::after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .21;
  z-index: -1;
}
section.sixteen .bg::before {
  background-image: url("../img/section_sixteen/children.webp");
  background-size: contain;
  top: -6rem;
  left: 50%;
  width: 35.2rem;
  height: 9.6rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
section.sixteen .bg_1::after {
  background: url("../img/common/section_bg_1.webp");
}
section.sixteen h2 {
  margin-bottom: 0;
}
section.sixteen h2 span:last-child {
  font-family: 'Rubik-Regular', sans-serif;
}
section.sixteen #accordionQuestions {
  max-width: 82rem;
  margin: 4rem auto;
}
section.sixteen #accordionQuestions .card {
  border: none;
  margin-bottom: 2.7rem;
}
section.sixteen #accordionQuestions .card-header {
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: none;
}
section.sixteen #accordionQuestions .card-body {
  font-size: 1.6rem;
  background-color: #fefcf7;
  line-height: 2.6rem;
  padding: 1.8rem 2.3rem;
  margin-top: 2rem;
  margin-left: 6.5rem;
}
section.sixteen #accordionQuestions button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  padding: 0;
}
section.sixteen #accordionQuestions button.collapsed img {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
section.sixteen #accordionQuestions button img {
  width: 4.1rem;
  height: 4.1rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
section.sixteen #accordionQuestions button span {
  font-family: 'Rubik-Bold', sans-serif;
  font-size: 2rem;
  white-space: normal;
  margin-left: 2.4rem;
  line-height: 2.4rem;
}
section.sixteen #accordionQuestions button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
section.seventeen h2, section.seventeen .description {
  max-width: 72rem;
  margin: auto;
  text-align: center;
}
section.seventeen .description {
  margin-top: 4.5rem;
  margin-bottom: 5rem;
}
section.seventeen .description span {
  font-family: 'Rubik-Bold', sans-serif;
}
section.seventeen .table-title {
  position: relative;
  font-family: 'Rubik-Bold', sans-serif;
  margin-bottom: 4rem;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-align: center;
}
section.seventeen .table-title::after {
  content: '';
  position: absolute;
  background-image: url("../img/common/toys/car.png");
  background-size: 13vw;
  background-repeat: no-repeat;
  bottom: -16.85rem;
  right: -16vw;
  width: 15vw;
  max-width: 26rem;
  height: 15vw;
  max-height: 26rem;
}
section.seventeen table {
  position: relative;
}
section.seventeen table::before, section.seventeen table::after {
  content: '';
  position: absolute;
  background-size: 13vw;
  background-repeat: no-repeat;
  right: -16vw;
  width: 15vw;
  max-width: 26rem;
  height: 15vw;
  max-height: 26rem;
}
section.seventeen table::before {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -17vw;
  background-image: url("../img/common/toys/horse.png");
}
section.seventeen table::after {
  bottom: 0;
  right: -17vw;
  background-image: url("../img/common/toys/plane.png");
}
section.seventeen table tbody tr th {
  width: 33.33333%;
  vertical-align: middle;
}
section.seventeen table tbody tr th.th-bg-red {
  background-color: #edcdcd;
}
section.seventeen table tbody tr th.th-bg-green {
  background-color: #dce9d5;
}
section.eighteen h2 {
  margin-bottom: 2.5rem;
}
section.eighteen .description {
  max-width: 42rem;
  margin: auto;
  text-align: center;
}
section.eighteen .info-item {
  text-align: center;
}
section.eighteen .info-item.tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
section.eighteen .info-item.tel .info-item_tel {
  font-size: 4rem;
}
section.eighteen .info-item.tel .info-item_desc {
  margin-top: 4rem;
  margin-bottom: 3.5rem;
  font-size: 2.4rem;
  text-transform: uppercase;
}
section.eighteen .info-item.tel .info-item_soc {
  display: inline-block;
}
section.eighteen .info-item.tel .info-item_soc a:hover {
  text-decoration: none;
}
section.eighteen .info-item.tel .info-item_soc a img {
  width: 100%;
  max-width: 5rem;
}
section.eighteen .info-item.tel .info-item_soc a:nth-child(2) {
  margin: 0 2rem;
}
section.eighteen .info-item_img {
  margin: 1rem auto 2.5rem;
  border-radius: 50%;
  width: 100%;
}
section.eighteen .info-item_name {
  font-family: 'Rubik-Bold', sans-serif;
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
section.nineteen {
  background: #f1f1f1;
  padding: 4.2rem 0;
}
section.nineteen h2 {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 4rem;
}
section.nineteen .form {
  width: 100%;
  margin: auto;
  max-width: 44rem;
  text-align: center;
}
section.nineteen .form input {
  width: 100%;
  text-align: center;
  border: none;
  border-bottom: 2px solid #9f9f9f;
  background: #f1f1f1;
  padding: 1.5rem 1rem;
}
section.nineteen .form input:first-child {
  margin-bottom: 1.5rem;
}
section.nineteen .form input:focus-visible {
  outline: none;
}
section.nineteen .form input::-webkit-input-placeholder {
  font-style: italic;
  color: #9f9f9f;
  text-align: center;
}
section.nineteen .form input:-ms-input-placeholder {
  font-style: italic;
  color: #9f9f9f;
  text-align: center;
}
section.nineteen .form input::-ms-input-placeholder {
  font-style: italic;
  color: #9f9f9f;
  text-align: center;
}
section.nineteen .form input::placeholder {
  font-style: italic;
  color: #9f9f9f;
  text-align: center;
}
section.nineteen .form button {
  margin-top: 4rem;
}

.footer {
  border-bottom: 2rem solid #84bc38;
}
.footer p {
  margin: 5.5rem 0;
  font-style: italic;
  color: #4e4e4e;
  text-align: center;
}

.slick-prev:before, .slick-next:before {
  content: '';
}

.slick-prev img,
.slick-next img {
  width: 2.3rem;
}
.slick-prev:before, .slick-prev:before,
.slick-next:before,
.slick-next:before {
  content: '';
}

button.slick-next img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

section.seven button.slick-prev,
section.seven button.slick-next {
  -webkit-transform: translateY(calc(-50% - 75px));
          transform: translateY(calc(-50% - 75px));
}

.table-bordered td, .table-bordered th {
  border-color: #181818;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler .navbar-toggler-icon {
  position: relative;
  width: 30px;
  height: 2px;
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  background: #000;
}

.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #000;
  left: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.navbar-toggler .navbar-toggler-icon::before {
  top: 0;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.navbar-toggler .navbar-toggler-icon::after {
  bottom: 0;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.navbar-toggler.collapsed .navbar-toggler-icon::before {
  top: 7px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.navbar-toggler.collapsed .navbar-toggler-icon::after {
  bottom: 7px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.navbar-toggler.collapsed .navbar-toggler-icon::before,
.navbar-toggler.collapsed .navbar-toggler-icon::after {
  width: 30px;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 8px;
  }

  .header .phone a {
    font-size: 2rem;
  }
  .header .navbar .nav-item {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
  .header .header_content .content_button {
    margin-bottom: 2.5rem;
  }

  section.seven button.slick-prev,
  section.seven button.slick-next {
    -webkit-transform: translateY(calc(-50% - 40px));
            transform: translateY(calc(-50% - 40px));
  }
  section.nine .acquaintance_video::before,
  section.nine .acquaintance_video::after {
    content: none;
  }
  section.thirteen .table-bottom table::before,
  section.thirteen .table-bottom table::after {
    content: none;
  }
  section.fifteen .bullet::before,
  section.fifteen .bullet::after {
    content: none;
  }
  section.seventeen .table-title::after {
    content: none;
  }
  section.seventeen table::before,
  section.seventeen table::after {
    content: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  html {
    font-size: 7px;
  }

  .header .fixed-top {
    top: 0;
    background: #fff;
    -webkit-box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
    padding: 1rem 1.5rem;
    z-index: 100;
  }
  .header .fixed-top .navbar-brand {
    display: none;
  }
  .header .fixed-top .navbar-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 4px;
    background-color: #525556;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
    color: #fff;
    padding: 7px 20px;
  }
  .header .fixed-top .navbar-toggler:hover {
    cursor: pointer;
  }
  .header .fixed-top .navbar-toggler span {
    display: inline-block;
  }
  .header .fixed-top .navbar-toggler span:first-child {
    position: relative;
    line-height: 3.8rem;
    letter-spacing: .05rem;
    font-size: 13px;
    font-family: 'Rubik-Bold', sans-serif;
    margin-right: 15px;
  }
  .header .fixed-top .navbar-toggler span.lines a {
    display: block;
    background-color: #fff;
    width: 22px;
    height: 2px;
    margin-bottom: 7px;
  }
  .header .fixed-top .navbar-toggler span.lines a:last-child {
    margin-bottom: 0;
    width: 10px;
  }
  .header .fixed-top .navbar-collapse ul.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: calc(100vh - 56px);
  }

  .header_content .content_title span:first-child::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: skew(-18deg, 0deg);
            transform: skew(-18deg, 0deg);
  }
  .header_content .content_title span:first-child::before {
    top: -7.5rem;
  }
  .header_content .content_title span:last-child::after {
    top: -5px;
    left: 0;
    width: 100%;
    height: calc(100% + 10px);
    -webkit-transform: skew(-20deg, 0deg);
            transform: skew(-20deg, 0deg);
  }
  .header_content .content_bullet .bullet-item {
    margin: 5rem 0;
  }

  section.one .bullet .bullet-item {
    margin-bottom: 3rem;
  }
  section.one .bullet .bullet-item_img {
    margin-bottom: 2.5rem;
  }
  section.one .bullet .bullet-item_img img {
    max-width: 40%;
  }
  section.one .bullet .bullet-item_img img.flower_1,
  section.one .bullet .bullet-item_img img.flower_2,
  section.one .bullet .bullet-item_img img.flower_3 {
    display: none;
  }
  section.one .two-bullet .bullet-item_img img {
    width: 60%;
  }
  section.one .two-bullet .bullet-item > div:first-child {
    min-height: auto;
  }
  section.two .items .item-img img {
    width: 70%;
  }
  section.two .items .item-title {
    margin-top: 3rem;
  }
  section.two .items .item-text {
    margin-bottom: 6.5rem;
  }
  section.two .items .item-text p span {
    font-size: 5rem;
  }
  section.four h2, section.thirteen h2 {
    margin-bottom: 5rem;
  }
  section.four .card, section.thirteen .card {
    border: none;
    margin-bottom: 1rem;
  }
  section.four .card-header, section.thirteen .card-header {
    padding: 0;
    border-bottom: 0;
    border-radius: 0;
  }
  section.four .card-header h2, section.thirteen .card-header h2 {
    background: #84bc38;
  }
  section.four .card-header h2 button, section.thirteen .card-header h2 button {
    font-size: 2.3rem;
    line-height: 2.6rem;
    padding: .5rem 1rem;
    color: #fff;
    font-family: 'Rubik-Bold', sans-serif;
    white-space: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.four .card-header h2 button.collapsed svg, section.thirteen .card-header h2 button.collapsed svg {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  section.four .card-header h2 button svg, section.thirteen .card-header h2 button svg {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  section.five .section-five_header img:first-child,
  section.five .section-five_header img:last-child {
    display: none;
  }
  section.three .slick-next, section.seven .slick-next {
    right: -0.5rem;
  }
  section.three .slick-prev, section.seven .slick-prev {
    left: -0.5rem;
  }
  section.seven h2 {
    margin-bottom: 4rem;
  }
  section.seven .section-seven-carousel .carousel-item_video video {
    max-width: 85%;
  }
  section.nine .acquaintance-item_text p {
    margin-bottom: 4rem;
  }
  section.nine .acquaintance-item_text p:last-child {
    margin-bottom: 6rem;
  }
  section.ten .carousels .carousel-left {
    margin-bottom: 4rem;
  }
  section.ten .carousels .carousel-left .title,
  section.ten .carousels .carousel-right .title {
    min-height: inherit;
    padding: 1rem 0;
  }
  section.ten .carousels .carousel-left .description,
  section.ten .carousels .carousel-right .description {
    margin: 2rem 0;
  }
  section.eleven .anna-info_item.avatar .avatar-img img {
    max-width: 60%;
  }
  section.eleven .anna-info_item.avatar .icons {
    margin-bottom: 2rem;
  }
  section.thirteen .table-bottom::after {
    content: none;
  }
  section.thirteen .table-top::after {
    content: none;
  }
  section.thirteen .total_cost {
    margin-top: 9rem;
  }
  section.fourteen {
    padding-bottom: 7.5rem;
  }
  section.fourteen img {
    max-width: 60%;
  }
  section.eighteen .info-item.tel .info-item_desc {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  section.eighteen .info-item_img {
    margin: 3rem 0 1rem;
  }
}
@media screen and (max-width: 480px) {
  .header_content .content_title span:first-child {
    font-size: 3.5rem;
  }
}

/*# sourceMappingURL=main.css.map */