@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Rubik-Regular';
  font-display: swap;
  src: url('../fonts/rubik-regular/Rubik-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/rubik-regular/Rubik-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/rubik-regular/Rubik-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/rubik-regular/Rubik-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/rubik-regular/Rubik-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/rubik-regular/Rubik-Regular.otf') format('otf'),
  url('../fonts/rubik-regular/Rubik-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Rubik-Bold';
  font-display: swap;
  src: url('../fonts/rubik-bold/Rubik-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/rubik-bold/Rubik-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/rubik-bold/Rubik-Bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/rubik-bold/Rubik-Bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/rubik-bold/Rubik-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/rubik-bold/Rubik-Bold.otf') format('otf'),
  url('../fonts/rubik-bold/Rubik-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html {
  font-size: 10px;
}

body {
  font-family: 'Rubik-Regular', Helvetica, sans-serif;
  padding-top: 27rem;
  background: url("../img/header/header-bg.webp") center top no-repeat;
  background-size: contain;
  color: #000;
  font-size: 2rem;
}

.green-color {
  color: $green-color;
}

.light-green-color {
  color: $light-green-color;
}

.blue-color {
  color: $blue-color;
}

.orange-color {
  color: $orange-color;
}

.purple-color {
  color: $purple-color;
}

.dark-purple-color {
  color: $dark-purple-color;
}

.growth-point {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 18.2rem);
}

.primary_btn {
  display: inline-block;
  font-family: 'Rubik-Bold', sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding: 1.9rem 3rem;
  font-size: 2rem;
  outline: none;
  border: none;
  background: $light-green-color;
  border-radius: 50px;
  box-shadow: -.7rem .7rem 0 0 rgba(0, 0, 0, 0.1);
  transition: all .2s ease;

  &:hover {
    cursor: pointer;
    color: #fff;
  }

  &:active {
    background: $green-color;
  }

  &:focus {
    outline: none;
  }
}

.header {
  .logo_img {
    width: 100%;
    max-width: 16rem;
    height: auto;
  }

  .fixed-top {
    top: 0;
    background: #fff;
    box-shadow: 0 4px 24px rgba(0, 0, 0, .1);
    padding: 1rem 1.5rem;
    z-index: 100;
  }

  .navbar {
    .nav-item {
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      a {
        color: #000;
        text-decoration: underline;
        font-size: 1.8rem;
        white-space: nowrap;
      }
    }
  }

  .phone {
    display: flex;
    align-items: center;

    img {
      max-width: 100%;
      width: 2.3rem;
      height: auto;
    }

    a {
      font-size: 2.8rem;
      white-space: nowrap;
      color: #000;
      margin-left: 1rem;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &_content {
    .content_title {
      text-align: center;
      color: #fff;
      text-transform: uppercase;

      h1 {
        position: relative;
        font-family: 'Rubik-Bold', sans-serif;
        font-size: 4rem;
        margin-bottom: 10px;
        display: inline-block;
        padding: 1rem 2rem;

        &::before {
          content: '';
          position: absolute;
          background: url("../img/header/header_children.webp") no-repeat;
          background-size: contain;
          width: 39.2rem;
          height: 8.5rem;
          top: -8.5rem;
          left: 50%;
          transform: translateX(-50%);
        }

        &::after {
          content: '';
          position: absolute;
          background: $green-color;
          top: -10px;
          left: -50px;
          width: calc(100% + 100px);
          height: calc(100% + 20px);
          transform: skew(-30deg, 0deg);
          z-index: -1;
        }
      }

      span {
        position: relative;

        &:last-child {
          font-size: 3.6rem;
          padding: 1rem 2rem;

          &::after {
            content: '';
            position: absolute;
            background: $orange-color;;
            top: -5px;
            left: -30px;
            width: calc(100% + 60px);
            height: calc(100% + 10px);
            transform: skew(-30deg, 0deg);
            z-index: -1;
          }
        }
      }
    }

    .content_description {
      margin-top: 50px;
      text-align: center;

      p span {
        font-style: italic;
      }
    }

    .content_bullet {
      text-align: center;

      .bullet-item {
        margin: 5.5rem 0 8rem;

        &_img img {
          max-width: 100%;
          height: auto;
        }

        &_separator {
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }
    }

    .content_button {
      text-align: center;
      margin-bottom: 10.5rem;
    }
  }
}

section {
  margin: 8rem 0;

  .separator {
    text-align: center;
    margin-bottom: 4rem;
  }

  h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 7rem;

    span {
      font-family: 'Rubik-Bold', sans-serif;
    }
  }

  &.bg {
    position: relative;
    margin: 0;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: .21;
      z-index: -1;
    }
  }

  &.bg_1::after {
    background: url("../img/common/section_bg_1.webp");
  }

  &.bg_2::after {
    background: url("../img/common/section_bg_2.webp");
  }

  &.one {
    h2 {
      max-width: 84rem;
      margin-left: auto;
      margin-right: auto;
    }

    .bullet {
      text-align: center;

      .bullet-item {
        position: relative;
        height: 100%;

        &_img {
          margin-bottom: 3.5rem;

          img {
            position: relative;
            max-width: 100%;
            height: auto;
            z-index: 1;

            &.flower_1,
            &.flower_2,
            &.flower_3 {
              position: absolute;
              top: -50px;
            }

            &.flower_1 {
              left: 0;
            }

            &.flower_2 {
              right: 0;
            }

            &.flower_3 {
              right: -70px;
            }
          }
        }

        &_text {
          span {
            font-size: 2rem;
          }

          max-width: 24rem;
          margin: 0 auto;
          font-size: 1.8rem;
        }
      }
    }

    .two-bullet {
      text-align: center;

      .bullet-item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;

        & > div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          &:first-child {
            min-height: 26.4rem;
          }
        }

        &_img img {
          width: 100%;
          max-width: 26.4rem;
          height: auto;
        }

        &_text {
          font-size: 1.8rem;

          p:nth-child(2) {
            margin-top: 3rem;
          }
        }
      }
    }
  }

  &.two {
    padding-top: 7rem;
    padding-bottom: 9.5rem;

    .items {
      margin-top: 9rem;

      .item {
        text-align: center;

        &-img img {
          border: 14px solid;
          border-radius: 50%;
          width: 100%;
          max-width: 220px;
          height: auto;

          &.border-color-blue {
            border-color: $blue-color;
          }

          &.border-color-purple {
            border-color: $purple-color;
          }

          &.border-color-green {
            border-color: $green-color;
          }

          &.border-color-orange {
            border-color: $orange-color;
          }
        }

        &-title {
          text-transform: uppercase;
          font-size: 2.8rem;
          margin-top: 4rem;
          margin-bottom: 2rem;
        }

        &-text {
          margin-top: 3rem;
          margin-bottom: 8.5rem;

          p span {
            display: block;
            font-size: 6rem;
            margin-bottom: 2rem;
          }
        }
      }
    }

    .description p {
      max-width: 61.5rem;
      text-align: center;
      margin: auto;
    }
  }

  &.three {
    h2 {
      margin-bottom: 3rem;
    }

    p.description {
      max-width: 70rem;
      margin: 0 auto;
      text-align: center;
    }

    p.description_bottom {
      max-width: 73rem;
      margin: 0 auto;
      text-align: center;
    }

    .section-three-carousel {
      margin: 8rem 0;
    }

    .button {
      text-align: center;
      margin-top: 5.5rem;
    }

    .carousel-item_img {
      img {
        margin: 0 auto;
        max-width: 100%;
        padding: 0 1rem;
        height: auto;
      }
    }
  }

  &.four {
    padding-top: 8.5rem;
    padding-bottom: 7.5rem;

    h2 {
      color: #fff;
      background-color: $dark-purple-color;
    }

    .table-top {
      tbody th p {
        font-family: 'Rubik-Bold', sans-serif;
        font-size: 2.2rem;
      }
    }

    .section-four_table {
      text-align: center;

      img {
        max-width: 100%;
      }
    }
  }

  &.five {
    .section-five {
      &_header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 6rem;

        img {
          width: 100%;
          max-width: 26.4rem;
          height: auto;
        }
      }

      &_text p {
        max-width: 61rem;
        text-align: center;
        margin: 0 auto;

        span {
          text-decoration: underline;
        }

        &:first-child {
          margin-bottom: 3.5rem;
        }
      }
    }
  }

  &.six {
    margin-top: 14rem;
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
    position: relative;

    &::before {
      content: '';
      background: url("../img/section_six/children.webp");
      width: 44.8rem;
      max-width: 100%;
      height: 9.8rem;
      position: absolute;
      top: -9rem;
      left: 50%;
      transform: translateX(-50%);
    }

    h2 {
      font-size: 2.4rem;
      margin-bottom: 0;
    }
  }

  &.seven {
    h2 {
      max-width: 62rem;
      margin-left: auto;
      margin-right: auto;
    }

    .section-seven-carousel {
      .carousel-item {
        text-align: center;

        &_img img {
          max-width: 100%;
          margin: 0 auto;
        }

        &_video {
          position: relative;
          text-align: center;

          video {
            max-width: 100%;
            margin: 0 auto;
            padding: 0 1rem;
          }

          .video-play-btn {
            position: absolute;

            background: red;
            border-radius: 10px;
            width: 6rem;
            height: 4.2rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: .5;

            &:hover {
              cursor: pointer;
            }

            &.pause {
              opacity: .2;

              &::before {
                border-style: double;
                border-width: 0 0 0 20px;
                border-color: #fff;
                height: 20px;
                left: calc(50%);
              }
            }

            &::before {
              content: '';
              position: absolute;
              top: 50%;
              left: calc(50% + 2px);
              transform: translate(-50%, -50%);
              border-style: solid;
              border-width: 1rem 0 1rem 1.8rem;
              border-color: transparent transparent transparent #fff;
            }
          }
        }

        &_separator {
          margin-top: 4rem;
          margin-bottom: 3rem;
        }
      }
    }
  }

  &.eight {
    padding-top: 8.5rem;
    padding-bottom: 7.5rem;

    h2:nth-child(2) {
      color: #fff;
      background: $purple-color;
      max-width: 62rem;
      margin: 0 auto 4rem;

    }

    .benefit {
      text-align: center;

      &-img {
        margin-top: 4.5rem;
        margin-bottom: 3.5rem;
        min-height: 114px;

        img {
          max-width: 100%;
          height: auto;
        }
      }

      &-title {
        font-family: 'Rubik-Bold', sans-serif;
        font-size: 2.3rem;
      }

      &-separator {
        margin: 3.5rem 0;
      }
    }
  }

  &.nine {
    h2 {
      &:nth-of-type(1) {
        color: #fff;
        background: $light-green-color;
      }
    }

    .acquaintance img {
      max-width: 100%;
      height: auto;
    }

    .acquaintance-item {
      &_title {
        font-family: 'Rubik-Bold', sans-serif;
        font-size: 2.8rem;
        margin-bottom: 5rem;
      }

      &_text p {
        margin-bottom: 5rem;
      }
    }

    .acquaintance_video {
      position: relative;
      text-align: center;

      & > div,
      iframe {
        max-width: 100%;
        height: 52vw !important;
        max-height: 469px;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-size: 13vw;
        background-repeat: no-repeat;
        width: 15vw;
        max-width: 26rem;
        height: 15vw;
        max-height: 26rem;
      }

      &::before {
        background-image: url("../img/common/toys/gun.png");
        left: -16vw;

      }

      &::after {
        background-image: url("../img/common/toys/car.png");
        right: -16vw;
      }
    }

    .acquaintance_description {
      margin: 7.5rem auto;
      max-width: 74rem;
      text-align: center;
    }

    .button {
      text-align: center;
    }
  }

  &.ten {
    .carousels {
      .carousel-left,
      .carousel-right {
        width: calc(100% - 45px);
        margin: auto;
        text-align: center;

        .title {
          font-family: 'Rubik-Bold', sans-serif;
          color: #fff;
          font-size: 2.7rem;
          min-height: 50px;
          padding: .5rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .description {
          margin: 4rem 0;
        }
      }

      .carousel-left {
        .title {
          background: $orange-color;

        }
      }

      .carousel-right {
        .title {
          background: $blue-color;
        }
      }

      .carousel-item_img img {
        margin: 0 auto;
        max-width: 100%;
        padding: 0 1rem;
        height: auto;
      }
    }
  }

  &.eleven {
    h2 {
      max-width: 52rem;
      margin: 0 auto 6rem;
    }

    .description {
      max-width: 38rem;
      margin: 0 auto;
    }

    .anna-info {
      &_item {
        p, span {
          line-height: 2.5rem;
        }

        &.avatar {
          text-align: center;

          span {
            display: inline-block;
            text-align: center;
          }

          .avatar-img {
            margin: 5rem 0;

            img {
              border-radius: 50%;
              box-shadow: 4px -4px 0 15px $purple-color;
              max-width: 100%;
              height: auto;
            }
          }

          .avatar-name {
            font-family: 'Rubik-Bold', sans-serif;
            font-size: 3.2rem;
            color: $purple-color;
            margin-bottom: 3rem;
          }

          .icons a {
            &:hover {
              text-decoration: none;
            }

            img {
              max-width: 100%;
              height: auto;
            }
          }
        }

        &-text {
          margin-bottom: 5rem;
        }
      }
    }

  }

  &.twelve {
    padding-top: 8.5rem;
    padding-bottom: 7.5rem;

    .item-video {
      position: relative;
      text-align: center;
      padding: 0 1rem;

      iframe {
        max-width: 100%;
      }

      video {
        max-width: 100%;
        margin: 0 auto;
      }

      .video-play-btn {
        position: absolute;
        width: 58px;
        height: 58px;
        border-radius: 50%;
        border: 3px solid $purple-color;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: .5;

        &:hover {
          cursor: pointer;
        }

        &.pause {
          &::before {
            border-style: double;
            border-width: 0 0 0 20px;
            border-color: $purple-color;
            height: 20px;
            left: calc(50%);
          }
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: calc(50% + 2px);
          transform: translate(-50%, -50%);
          border-style: solid;
          border-width: 11px 0 11px 20px;
          border-color: transparent transparent transparent $purple-color;
        }
      }
    }

    .item-name {
      font-family: 'Rubik-Bold', sans-serif;
      text-align: center;
      margin: 3rem auto 0;
    }

    .reviews {
      .reviews-carousel_nav {
        .item.slick-slide {
          transition: all .2s ease;

          &:focus-visible {
            outline: none;
          }
        }
      }

      .reviews-carousel_for {
        .comment {
          max-width: 76rem;
          margin: 5rem auto 4rem;
          text-align: center;
          padding: 2rem;
          background: $purple-color;
          color: #fff;
        }
      }
    }
  }

  &.thirteen {
    h2.bottom-title {
      margin-top: 7rem;
      max-width: 90rem;
      margin-left: auto;
      margin-right: auto;
    }

    .table-price {
      th p {
        text-align: center;

        &:first-of-type {
          color: #838383;
          text-decoration: line-through;
          padding: 2rem 3rem;
        }

        &:last-of-type {
          font-size: 2.6rem;
          color: #bf3f7c;
          font-family: 'Rubik-Bold', sans-serif;
        }
      }
    }

    .table-top {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        right: -5.8vw;
        bottom: 7vw;
        background-image: url(../img/section_thirteen/children_table.webp);
        background-size: 7vw;
        background-repeat: no-repeat;
        width: 8vw;
        max-width: 15.3rem;
        height: 35.5rem;
      }
    }

    .table-bottom {
      position: relative;

      table {
        position: relative;

        &::before,
        &::after {
          content: '';
          position: absolute;
          background-size: 13vw;
          background-repeat: no-repeat;
          bottom: -16.85rem;
          width: 15vw;
          max-width: 26rem;
          height: 15vw;
          max-height: 26rem;
        }

        &::before {
          bottom: 0;
          left: -16vw;
          background-image: url("../img/common/toys/plane.webp");

        }

        &::after {
          top: 0;
          right: -16vw;
          background-image: url("../img/common/toys/horse.png");
        }
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -4.6vw;
        left: 50%;
        transform: translateX(-50%);
        background-image: url(../img/section_thirteen/children.webp);
        width: 15.5vw;
        height: 5.7vw;
        background-repeat: no-repeat;
        background-size: 13vw;
      }

      .old-price {
        color: #838383;
        text-decoration: line-through;
      }


      tbody tr th {
        &:first-of-type {
          width: 50%;
        }

        &:last-of-type {
          text-align: center;
          vertical-align: middle;
        }
      }
    }

    .total_cost {
      font-size: 3.2rem;
      text-align: center;
      margin-top: 12rem;
      margin-bottom: 7rem;
      line-height: 4.2rem;
    }

    .content_button {
      margin: 3rem;
      text-align: center;
    }
  }

  &.fourteen {
    padding-top: 7.5rem;
    padding-bottom: 20rem;

    h2 {
      color: #fff;
      background: $light-green-color;
    }

    .description {
      font-size: 3.2rem;
      max-width: 63rem;
      margin: 0 auto 8.5rem;
      text-align: center;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &.fifteen {
    h2 {
      max-width: 61rem;
      margin: auto;
      text-align: center;
    }

    .fifteen-img {
      text-align: center;
      margin: 5rem 0 4rem;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .bullet {
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        background-size: 13vw;
        background-repeat: no-repeat;
        bottom: -16.85rem;
        width: 15vw;
        max-width: 26rem;
        height: 15vw;
        max-height: 26rem;
      }

      &::before {
        background-image: url("../img/common/toys/plane.webp");
        bottom: 0;
        left: -16vw;

      }

      &::after {
        background-image: url("../img/common/toys/horse.png");
        top: 0;
        right: -16vw;
      }

      p {
        margin-bottom: 5rem;

        span {
          font-family: 'Rubik-Bold', sans-serif;
          display: block;
          margin-bottom: 1.5rem;
        }
      }

      .number img {
        max-width: 100%;
      }
    }
  }

  &.sixteen {
    .bg {
      position: relative;
      margin: 0;
      padding-top: 7.5rem;
      padding-bottom: 7.5rem;

      &::before,
      &::after {
        position: absolute;
        content: '';
      }

      &::after {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .21;
        z-index: -1;
      }

      &::before {
        background-image: url("../img/section_sixteen/children.webp");
        background-size: contain;
        top: -6rem;
        left: 50%;
        width: 35.2rem;
        height: 9.6rem;
        transform: translateX(-50%);
      }
    }

    .bg_1::after {
      background: url("../img/common/section_bg_1.webp");
    }

    h2 {
      margin-bottom: 0;

      span:last-child {
        font-family: 'Rubik-Regular', sans-serif;
      }
    }

    #accordionQuestions {
      max-width: 82rem;
      margin: 4rem auto;

      .card {
        border: none;
        margin-bottom: 2.7rem;

        &-header {
          padding: 0;
          margin-bottom: 0;
          background-color: transparent;
          border-bottom: none;
        }

        &-body {
          font-size: 1.6rem;
          background-color: #fefcf7;
          line-height: 2.6rem;
          padding: 1.8rem 2.3rem;
          margin-top: 2rem;
          margin-left: 6.5rem;
        }
      }


      button {
        display: flex;
        align-items: center;
        background-color: transparent;
        padding: 0;

        &.collapsed img {
          transform: rotate(0deg);
        }

        img {
          width: 4.1rem;
          height: 4.1rem;
          transition: all .2s ease;
          transform: rotate(180deg);
        }

        span {
          font-family: 'Rubik-Bold', sans-serif;
          font-size: 2rem;
          white-space: normal;
          margin-left: 2.4rem;
          line-height: 2.4rem;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  &.seventeen {
    h2, .description {
      max-width: 72rem;
      margin: auto;
      text-align: center;
    }

    .description {
      margin-top: 4.5rem;
      margin-bottom: 5rem;

      span {
        font-family: 'Rubik-Bold', sans-serif;
      }
    }

    .table-title {
      position: relative;
      font-family: 'Rubik-Bold', sans-serif;
      margin-bottom: 4rem;
      font-size: 2.4rem;
      text-transform: uppercase;
      text-align: center;

      &::after {
        content: '';
        position: absolute;
        background-image: url("../img/common/toys/car.png");
        background-size: 13vw;
        background-repeat: no-repeat;
        bottom: -16.85rem;
        right: -16vw;
        width: 15vw;
        max-width: 26rem;
        height: 15vw;
        max-height: 26rem;
      }
    }

    table {
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        background-size: 13vw;
        background-repeat: no-repeat;
        right: -16vw;
        width: 15vw;
        max-width: 26rem;
        height: 15vw;
        max-height: 26rem;
      }

      &::before {
        top: 50%;
        transform: translateY(-50%);
        left: -17vw;
        background-image: url("../img/common/toys/horse.png");

      }

      &::after {
        bottom: 0;
        right: -17vw;
        background-image: url("../img/common/toys/plane.webp");
      }

      tbody tr th {
        width: 33.33333%;
        vertical-align: middle;

        &.th-bg-red {
          background-color: #edcdcd;
        }

        &.th-bg-green {
          background-color: #dce9d5;
        }
      }
    }
  }

  &.eighteen {
    h2 {
      margin-bottom: 2.5rem;
    }

    .description {
      max-width: 42rem;
      margin: auto;
      text-align: center;
    }

    .info-item {
      text-align: center;

      &.tel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .info-item_tel {
          a {
            font-size: 4rem;
            color: #000;
            text-decoration: none;

            &:hover {
              text-decoration: none;
            }
          }
        }

        .info-item_desc {
          margin-top: 4rem;
          margin-bottom: 3.5rem;
          font-size: 2.4rem;
          text-transform: uppercase;
        }

        .info-item_soc {
          display: inline-block;

          a {
            &:hover {
              text-decoration: none;
            }

            img {
              width: 100%;
              max-width: 5rem;
              height: auto;
            }

            &:nth-child(2) {
              margin: 0 2rem;
            }
          }
        }
      }

      &_img {
        margin: 1rem auto 2.5rem;
        border-radius: 50%;
        width: 100%;

        img {
          max-width: 100%;
          height: auto;
        }
      }

      &_name {
        font-family: 'Rubik-Bold', sans-serif;
        font-size: 2.8rem;
        margin-bottom: 1rem;
      }
    }
  }

  &.nineteen {
    background: #f1f1f1;
    padding: 4.2rem 0;

    h2 {
      font-size: 2.4rem;
      text-align: center;
      margin-bottom: 4rem;
    }

    .form {
      width: 100%;
      margin: auto;
      max-width: 44rem;
      text-align: center;

      input {
        width: 100%;
        text-align: center;
        border: none;
        border-bottom: 2px solid #9f9f9f;
        background: #f1f1f1;
        padding: 1.5rem 1rem;

        &:first-child {
          margin-bottom: 1.5rem;
        }

        &:focus-visible {
          outline: none;
        }

        &::placeholder {
          font-style: italic;
          color: #9f9f9f;
          text-align: center;
        }
      }

      button {
        margin-top: 3rem;
      }

      .form-error {
        display: none;
        color: #F24841;
      }
    }
  }
}

.footer {
  p {
    margin: 5.5rem 0;
    font-style: italic;
    color: #4e4e4e;
    text-align: center;
  }

  border-bottom: 2rem solid $light-green-color;
}

.slick-prev:before, .slick-next:before {
  content: '';
}

.slick-prev,
.slick-next {
  z-index: 10;

  img {
    width: 2.3rem;
    height: auto;
  }

  &:before,
  &:before {
    content: '';
  }
}

button.slick-next img {
  transform: rotate(180deg);
}

section.seven button.slick-prev,
section.seven button.slick-next {
  transform: translateY(calc(-50% - 75px));
}

.table-bordered td, .table-bordered th {
  border-color: #181818;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler .navbar-toggler-icon {
  position: relative;
  width: 26px;
  height: 2px;
  transition: all .3s ease;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  background: #fff;
}

.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after {
  content: '';
  position: absolute;
  width: 26px;
  height: 2px;
  background: #fff;
  left: 0;
  transition: all .3s ease;
}

.navbar-toggler .navbar-toggler-icon::before {
  top: 0;
  transform: rotate(220deg);
}

.navbar-toggler .navbar-toggler-icon::after {
  bottom: 0;
  transform: rotate(-220deg);
}

.navbar-toggler.collapsed .navbar-toggler-icon::before {
  top: 7px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .navbar-toggler-icon::after {
  bottom: 7px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  &::before,
  &::after {
    width: 26px;
  }
}

.youtube {
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: all 200ms ease-out;
  cursor: pointer;
}

.youtube .play {
  background: url('../img/common/youtube-play-btn.png') no-repeat;
  background-position: 0 -50px;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  height: 50px;
  width: 69px;
  transition: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.youtube:hover .play {
  background-position: 0 0;
}

@media screen and (min-width: 768px) {
  main.main {
    overflow: hidden;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 8px;
  }

  .header {
    .phone a {
      font-size: 2rem;
    }

    .navbar .nav-item {
      padding-left: 1.3rem;
      padding-right: 1.3rem;
    }

    .header_content .content_button {
      margin-bottom: 2.5rem;
    }
  }

  section {
    &.seven {
      button.slick-prev,
      button.slick-next {
        transform: translateY(calc(-50% - 40px));
      }
    }

    &.nine {
      .acquaintance_video::before,
      .acquaintance_video::after {
        content: none;
      }
    }

    &.thirteen {
      .table-bottom table::before,
      .table-bottom table::after {
        content: none;
      }
    }

    &.fifteen {
      .bullet::before,
      .bullet::after {
        content: none;
      }
    }

    &.seventeen {
      .table-title::after {
        content: none;
      }

      table::before,
      table::after {
        content: none;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  html {
    font-size: 8px;
  }

  .header .fixed-top {
    padding: 1rem 1.5rem;

    .navbar-brand {
      display: none;
    }

    .navbar-toggler {
      display: flex;
      align-items: center;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background-color: #525556;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
      -webkit-transition: background-color .2s ease;
      -o-transition: background-color .2s ease;
      transition: background-color .2s ease;
      color: #fff;
      padding: 7px 20px;

      &:hover {
        cursor: pointer;
      }

      span {
        display: inline-block;

        &:first-child {
          position: relative;
          line-height: 3.8rem;
          letter-spacing: .05rem;
          font-size: 13px;
          font-family: 'Rubik-Bold', sans-serif;
          margin-right: 15px
        }
      }
    }

    .navbar-collapse {
      ul.navbar-nav {
        display: flex;
        align-items: center;
        height: calc(100vh - 56px);
      }
    }
  }

  .header .navbar .nav-item {
    margin: 5rem 0 3rem;

    a {
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .header_content {
    .content_title {
      h1 {
        &::after {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: skew(-18deg, 0deg);
        }

        &::before {
          top: -7.5rem;
        }
      }

      span:last-child::after {
        top: -5px;
        left: 0;
        width: 100%;
        height: calc(100% + 10px);
        transform: skew(-20deg, 0deg);
      }
    }

    .content_bullet .bullet-item {
      margin: 5rem 0;
    }
  }

  section {
    &.one .bullet {
      .bullet-item {
        margin-bottom: 3rem;

        &_img {
          margin-bottom: 2.5rem;

          img {
            max-width: 40%;
          }

          img.flower_1,
          img.flower_2,
          img.flower_3 {
            display: none;
          }
        }
      }
    }

    &.one .two-bullet .bullet-item {
      &_img img {
        width: 60%;
      }

      & > div:first-child {
        min-height: auto;
      }
    }

    &.two .items {
      .item-img img {
        width: 70%;
      }

      .item-title {
        margin-top: 3rem;
      }

      .item-text {
        margin-bottom: 6.5rem;

        p span {
          font-size: 5rem;
        }
      }
    }

    &.four,
    &.thirteen {
      h2 {
        margin-bottom: 5rem;
      }

      .card {
        border: none;
        margin-bottom: 1rem;

        &-header {
          padding: 0;
          border-bottom: 0;
          border-radius: 0;

          h2 {
            background: $light-green-color;

            button {
              font-size: 2.3rem;
              line-height: 2.6rem;
              padding: .5rem 1rem;
              color: #fff;
              font-family: 'Rubik-Bold', sans-serif;
              white-space: normal;
              display: flex;
              justify-content: space-between;
              align-items: center;

              &.collapsed {
                svg {
                  transform: rotate(0);
                }
              }

              svg {
                transition: all .2s ease;
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }

    &.five .section-five_header {
      img:first-child,
      img:last-child {
        display: none;
      }
    }

    &.three,
    &.seven {
      .slick-next {
        right: -0.5rem;
      }

      .slick-prev {
        left: -0.5rem;
      }
    }

    &.seven {
      h2 {
        margin-bottom: 4rem;
      }

      .section-seven-carousel .carousel-item_video video {
        max-width: 85%;
      }
    }

    &.nine .acquaintance-item_text p {
      margin-bottom: 4rem;

      &:last-child {
        margin-bottom: 6rem;
      }
    }

    &.ten .carousels {
      .carousel-left {
        margin-bottom: 4rem;
      }

      .carousel-left,
      .carousel-right {
        .title {
          min-height: inherit;
          padding: 1rem 0;
        }

        .description {
          margin: 2rem 0;
        }
      }
    }

    &.eleven .anna-info_item.avatar {
      .avatar-img img {
        max-width: 60%;
      }

      .icons {
        margin-bottom: 2rem;
      }
    }

    &.thirteen {
      .table-bottom::after {
        content: none;
      }

      .table-top::after {
        content: none;
      }

      .total_cost {
        margin-top: 9rem;
      }
    }

    &.fourteen {
      padding-bottom: 7.5rem;

      img {
        max-width: 60%;
      }
    }

    &.seventeen table {
      position: relative;
      font-size: 1.5rem;
    }

    &.eighteen {
      .info-item.tel .info-item_desc {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }

      .info-item_img {
        margin: 3rem 0 1rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .header_content .content_title h1 {
    font-size: 3.5rem;
  }

  .slick-prev,
  .slick-next {
    height: auto;
    background-color: rgba(255,255,255, .4);
    padding: .3rem .2rem;

    img {
      width: 100%;
    }
  }
}